[Unit]
Description=Redis DB
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill redis-db
ExecStartPre=-/usr/bin/docker rm redis-db
ExecStartPre=/usr/bin/docker pull trickbooter/redis-with-entrypoint
ExecStart=/usr/bin/docker run --name redis-db trickbooter/redis-with-entrypoint cli -h 128.199.78.238
ExecStop=/usr/bin/docker stop redis-db
