[Unit]
Description=Node W
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill eotw-node-w
ExecStartPre=-/usr/bin/docker rm eotw-node-w
ExecStartPre=/usr/bin/docker pull trickbooter/eotw-node-w
ExecStart=/usr/bin/docker run --name eotw-node-w -e REDIS_IP=128.199.72.148 trickbooter/eotw-node-w
ExecStop=/usr/bin/docker stop eotw-node-w
